ul{
	text-align: left;
	margin: 0px auto;
	max-width: 400px;
}
li{
	max-width: 400px;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	border: 1px solid #eee;
	padding: 5px;
	margin-top: 5px;
}